:host {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

img {
  width: 300px;
  animation: rotate infinite linear 6s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
