main {
  min-height: 60vh;
  margin: 72px auto 0;
}
app-aside {
  min-height: 90vh;
  margin: 72px auto 0 22px;
}

.panel {
  border-radius: 6px;
  width: 95%;
  background-color: #23232322;
}

section {
  display: grid;
  grid-template-columns: 300px auto;
}

@media (max-width: 700px) {
  section {
    display: block;
  }
}
