<header appScroll>
  <div class="logo">
    <span routerLink="/viajes"><mat-icon>flight_takeoff</mat-icon> Viajes</span>
  </div>
  <div class="nav">
    <span *ngIf="authService.isLoggedIn()" (click)="nuevoViaje()"
      ><mat-icon>create</mat-icon> Nuevo</span
    >
    <a href="https://abelfubu.github.io/abelfubu-profile/" target="_blank"
      ><mat-icon>contact_support</mat-icon> About</a
    >
    <span *ngIf="authService.isLoggedIn()" (click)="authService.logout()"
      ><mat-icon>eject</mat-icon> Logout</span
    >
    <span *ngIf="!authService.isLoggedIn()" routerLink="auth/login"
      ><mat-icon>face</mat-icon> Login</span
    >
  </div>
</header>
