<div class="container" *ngIf="viaje">
  <div class="bg-img">
    <div class="img" [appBgImg]="viaje.img"></div>
  </div>

  <div class="content">
    <div class="header">
      <h1>{{ viaje.nombre }}</h1>
      <p>{{ viaje.tipo }}</p>
    </div>
    <hr />
    <div class="subheader">
      <app-rating [currentRating]="viaje.rating"></app-rating>
      <mat-icon class="material-icons">{{
        viaje.estado === 2 ? "lock" : "lock_open"
      }}</mat-icon>
    </div>
    <div class="text">
      <h3>
        <strong>{{ viaje.destino }}</strong>
      </h3>
      <p>Plazas {{ viaje.plazas }}</p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore sequi
        illum distinctio rerum voluptate architecto suscipit inventore
        necessitatibus temporibus quisquam amet laudantium possimus id, vel
        veniam maiores error tenetur culpa nam odit. Hic, nostrum. Fuga eos
        nulla iusto quis vitae corporis repellendus accusamus. Exercitationem
        autem, tempore aliquam sequi ratione, mollitia fugiat dolorem possimus
        placeat, nesciunt voluptatibus voluptatum praesentium doloremque ex.
      </p>
    </div>
    <button (click)="editarViaje(viaje)" mat-button>Editar</button>
    <button (click)="borrarViaje(viaje.id)" mat-button color="warn">
      Borrar
    </button>
  </div>
</div>
