:host {
  padding-bottom: 64px;
  display: block;
}

.container {
  display: flex;
}

.bg-img {
  width: 300px;
  height: 300px;
  border-radius: 6px 0 0 0;
}

.img {
  border-radius: 6px 0 0 0;
  width: 100%;
  height: 300px;
}

.content {
  width: 100%;
  padding: 36px 35px 4px;

  h1 {
    font-size: 3rem;
    color: #232323;
  }
  .header,
  .subheader {
    display: flex;
    justify-content: space-between;
  }

  .text {
    margin: 16px 0;
  }
}
