<footer>
  <mat-list role="list">
    <mat-list-item role="listitem">Viajes</mat-list-item>
    <mat-icon>flight_takeoff</mat-icon>
  </mat-list>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <i class="fab fa-instagram"></i>Instagram</mat-list-item
    >
    <mat-list-item role="listitem">
      <i class="fab fa-facebook"></i>Facebook</mat-list-item
    >
    <mat-list-item role="listitem">
      <i class="fab fa-github"></i>Github</mat-list-item
    >
    <p>Copyright abelfubu editions multimedia Angular && Angular Material</p>
  </mat-list>
  <mat-list
    ><mat-list-item role="listitem">Tel: 617 36 61 35</mat-list-item>
    <mat-list-item role="listitem">Email: abelfubu@gmail.com</mat-list-item>
    <mat-list-item role="listitem">Granollers Bcn</mat-list-item>
  </mat-list>
</footer>
